<div class="shadow-md sm:rounded-lg w-full border-2 border-gray-700 dark:border-gray-700">
  <div class="flex justify-between items-center p-6 bg-gray-800 dark:bg-gray-800 border-b dark:border-gray-700">
    <h2 class="text-lg font-semibold text-white dark:text-white">Reporte</h2>

    <input
      type="text"
      class="w-1/3 px-3 py-2 text-sm text-gray-300 placeholder-gray-500 border-2 border-gray-700 rounded-lg focus:outline-none focus:border-blue-500 focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 focus:ring-offset-gray-800"
      placeholder="Buscar..."
    />

  </div>


<!--  <div class="overflow-x-auto rounded-lg shadow-lg">-->
<!--    <table class="min-w-full text-sm text-left text-gray-300">-->
<!--      <thead class="bg-gradient-to-r from-indigo-600 to-purple-600 text-white uppercase text-xs font-bold">-->
<!--      <tr>-->
<!--        <th class="px-4 py-3">#</th>-->
<!--&lt;!&ndash;        <th class="px-4 py-3">Nombre</th>&ndash;&gt;-->
<!--&lt;!&ndash;        <th class="px-4 py-3">Apellido</th>&ndash;&gt;-->
<!--        <th class="px-4 py-3">Distrito</th>-->
<!--&lt;!&ndash;        <th class="px-4 py-3">DNI</th>&ndash;&gt;-->
<!--        <th class="px-4 py-3">Marca</th>-->
<!--        <th class="px-4 py-3">Modelo</th>-->
<!--        <th class="px-4 py-3">Vendedor</th>-->
<!--        <th class="px-4 py-3"># Quincenas</th>-->
<!--        <th class="px-4 py-3">Punto de Venta</th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--        @for (item of clientesAnalises; track $index) {-->
<!--          <tr class="bg-gray-800 even:bg-gray-700 hover:bg-indigo-700 transition-colors duration-200">-->
<!--            <td class="px-4 py-2 font-bold text-center">{{ $index + 1 }}</td>-->
<!--&lt;!&ndash;            <td class="px-4 py-2">{{ item.formTitular?.nombre }}</td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td class="px-4 py-2">{{ item.formTitular?.apellido }}</td>&ndash;&gt;-->
<!--            <td class="px-4 py-2">{{ item.formTitular?.distrito }}</td>-->
<!--&lt;!&ndash;            <td class="px-4 py-2">{{ item.formTitular?.documentNumber }}</td>&ndash;&gt;-->
<!--            <td class="px-4 py-2">{{ item.formularioVehiculo?.marcaVehiculo }}</td>-->
<!--            <td class="px-4 py-2">{{ item.formularioVehiculo?.modeloVehiculo }}</td>-->
<!--            <td class="px-4 py-2">{{ item.formularioVehiculo?.nombreDelVendedor }}</td>-->
<!--            <td class="px-4 py-2 text-center">{{ item.formularioVehiculo?.numeroQuincenas }}</td>-->
<!--            <td class="px-4 py-2">{{ item.formularioVehiculo?.puntoDeVenta }}</td>-->
<!--          </tr>-->
<!--        }-->
<!--      </tbody>-->
<!--    </table>-->
<!--  </div>-->



<!--  <table class="w-full m-auto text-sm text-left rtl:text-right text-gray-300 dark:text-gray-400">-->
<!--      <thead class="text-xs text-gray-300 uppercase bg-gray-700 dark:bg-gray-700 dark:text-gray-400">-->
<!--      <tr class="bg-gray-700">-->
<!--        <th class="px-4 py-2">Distrito</th>-->
<!--        <th class="px-4 py-2">Marca</th>-->
<!--        <th class="px-4 py-2">Ventas</th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--        @for (item of modeloMasVendidoArray; track item.marca) {-->
<!--          <tr class="bg-gray-800 border-b dark:border-gray-700 hover:bg-gray-700 dark:hover:bg-gray-600">-->
<!--            <td class="px-4 py-2">{{ item.distrito }}</td>-->
<!--            <td class="px-4 py-2">{{ item.marca }}</td>-->
<!--            <td class="px-4 py-2">{{ item.cantidad }}</td>-->
<!--          </tr>-->
<!--        }-->
<!--      </tbody>-->
<!--    </table>-->



  <apx-chart
    [series]="chartSeries"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [yaxis]="chartOptions.yaxis"
    [plotOptions]="chartOptions.plotOptions"
    [dataLabels]="chartOptions.dataLabels"
    [tooltip]="chartOptions.tooltip"
    [colors]="chartOptions.colors"
    [grid]="chartOptions.grid"
    class="bg-gray-900 rounded-xl p-4 shadow">
  </apx-chart>

  <apx-chart
    [series]="chartSeriesMarcas"
    [chart]="chartOptionsMarcas.chart"
    [xaxis]="chartOptionsMarcas.xaxis"
    [yaxis]="chartOptionsMarcas.yaxis"
    [plotOptions]="chartOptionsMarcas.plotOptions"
    [dataLabels]="chartOptionsMarcas.dataLabels"
    [tooltip]="chartOptionsMarcas.tooltip"
    [colors]="chartOptionsMarcas.colors"
    [grid]="chartOptionsMarcas.grid"
    class="bg-gray-900 rounded-xl p-4 shadow">
  </apx-chart>


</div>














