.container {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    padding: 4rem ;    
}
.title {
    font-size: 1rem;
    font-weight: 700;
    color: #2d3748;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.card {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    background-color: white;
    padding: 2.5rem 1.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    transition: all 0.3s;
    min-width: 28rem;
    margin: auto;
    border-radius: 0.5rem;
}

.card:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    
}
.card::before {
    content: '';
    position: absolute;
    top: 2.5rem;
    left: 12%;      
    transform: translateX(-50%);
    height: 5rem;
    width: 5rem;
    background-color: #0ea5e9;
    border-radius: 50%;
    transition: all 0.3s;
    z-index: 0;
}

.card:hover::before {
    transform: translateX(-50%) scale(20);
}

.icon-container {
    position: relative;
    z-index: 10;
    display: grid;
    place-items: center;
    height: 5rem;
    width: 5rem;
    background-color: #0ea5e9;
    border-radius: 50%;
    transition: all 0.3s;
}

.card:hover .icon-container {
    background-color: #0284c7;
}

.icon {
    height: 2.5rem;
    width: 2.5rem;
    color: white;
    transition: all 0.3s;
}

.content {
    position: relative;
    z-index: 10;
    margin-top: 1.25rem;
    color: #4b5563;
    transition: all 0.3s;
}

.card:hover .content {
    color: rgba(15, 14, 14, 0.9);
}

.link {
    position: relative;
    z-index: 10;
    margin-top: 1.25rem;
    font-weight: 600;
    color: #0ea5e9;
    transition: all 0.3s;
}

.card:hover .link {
    color: rgb(15, 14, 14);
}