<body>
  <div class="flex flex-wrap gap-5 bg-gray-800 p-6">
    @for (item of list_modules; track $index) {
      <div class=" card bg-gray-700 rounded-lg shadow-md p-6 w-[300px] h-[350px]" (click)="navigateWithTransition(item.route)" >
        <div class="icon-container flex justify-center mb-3">
          <mat-icon>{{item.icon}}</mat-icon>
        </div>

        <div class="title text-center text-lg font-bold text-white ">
          <h3>{{ item.name }}</h3>
        </div>

        <div class="content mt-3 text-gray-300">
          <ul class="list-disc pl-5">
            @for (child of item.children; track $index) {
              <li>{{ child.name }}</li>
            }
          </ul>
        </div>

        <div class="link mt-4 text-center">
          <p>
            <a 
              (click)="navigateWithTransition(item.route)" 
              class="text-blue-400 font-semibold cursor-pointer"
            >
              IR AL MÓDULO &rarr;
            </a>
          </p>
        </div>
      </div>
    }
  </div>
</body>
