.fade-in {
    opacity: 1;
    animation: fadeInAnimation 0.5s forwards;
  }
  
  .fade-out {
    opacity: 1;
    animation: fadeOutAnimation 0.5s forwards;
  }
  
  @keyframes fadeInAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeOutAnimation {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }