.version-box {
  position: fixed;
  bottom: 8px;
  right: 12px;
  font-size: 12px;
  color: #999;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 4px 8px;
  border-radius: 4px;
}

.cdk-global-scrollblock {
  overflow: hidden !important;
}