
<canvas #canvas class="absolute top-0 left-0 w-full h-full block"></canvas>
@if (showContent) {
    
   <div  @fadeOut class="flex items-center justify-center h-screen bg-transparent">
  <div class="text-center animate-pulse">
    <div class="text-3xl font-bold text-gray-700 mb-4">Cargando aplicación...</div>
    <div class="w-16 h-16 border-4 border-blue-400 border-dashed rounded-full animate-spin mx-auto"></div>
    <div class="mt-4 text-sm text-gray-500">Verificando actualizaciones</div>
  </div>
</div>
}


